        <!-- CONTACT SECTION ############################################### -->
<!-- Title /-->

<div class="row">

    <div class="twelve columns">

        <h3>Contact</h3>

    </div>

</div>

<section id="contact">
    <div class="row contact">

        <div class="twelve columns centered">

            <!-- CONTACT FORM -->

            <form name="htmlform" method="post" action="http://www.supview.be/themes/flatstudio/form_sender.php">

                <div class="five columns">

                    <input type="text" name="name" placeholder="YOUR NAME" required>
                    <input type="text" name="phone" placeholder="YOUR PHONE" required>
                    <input type="email" name="email" placeholder="YOUR E-MAIL" required>

                </div>

                <div class="seven columns">

                    <textarea name="comments" cols="1" rows="5" placeholder="YOUR MESSAGE" required></textarea>

                </div>

                <button name="send" type="submit" class="submit">SEND</button>


            </form>
        </div>

    </div>
</section>
<!-- END CONTACT SECTION ############################################### -->
