<!-- INTERSECTION ( TEMPLATE DOWNLOAD ) ############################################### -->

<section id="getit">
    <div class="row">

        <div class="twelve columns centered">

            <h2>want this awesome template ?</h2>

            <a class="buttom" href="#">Click and get it!</a>

        </div>

    </div>
</section>

<!-- END INTERSECTION ############################################### -->
