<!-- FOOTER INTERSECTION SECTION ############################################### -->

<section id="interblock_footer">
    <div class="row">

        <div class="eight columns">

            <h2>Thank you for taking the time to look our most recent work.</h2>
            <p>Please feel free to contact us for any further information.</p>

        </div>

        <!-- Social Icon /-->

        <div class="four columns text-right ">

            <ul>

                <li><a href="http://www.facebook.com/Supview" target="_blank"><i class="icon" data-icon="&#xe045;"></i></a></li>

                <li><a href="http://www.facebook.com/Supview" target="_blank"><i class='icon' data-icon="&#xe033;"></i></a></li>

                <li><a href="http://www.facebook.com/Supview" target="_blank"><i class='icon' data-icon="&#xe047;"></i></a></li>

                <li><a href="http://www.facebook.com/Supview" target="_blank"><i class='icon' data-icon="&#xe031;"></i></a></li>
            </ul>

        </div>

    </div>

</section>

<!-- END FOOTER INTERSECTION ############################################### -->
<!-- FOOTER CONTACT INFO SECTION ############################################### -->

<section id="contact_info">
    <div class="row">

        <div class="twelve columns">

            <div class="four columns">
                <p>ChaussĂ©e de Bruxelles, 1</p>
            </div>

            <div class="four columns text-center">
                <p><a href="#">hello@circlepoint.be</a></p>
            </div>

            <div class="four columns text-right">
                <p>+32(0) 499 11 22 33</p>
            </div>

        </div>

    </div>
</section>


<!-- END FOOTER CONTACT INFO SECTION ############################################### -->
