 <!-- HEADER ############################################### -->
<section id="header">
    <div class="row">

        <div class="twelve columns centered">

            <h2 class="fade-it2">we are Flat Digital Studio</h2>

            <p class="lead fade-it2">CODE, VIDEO, DESIGN, EVERYTHING THAT YOU NEED</p>

        </div>

    </div>
</section>
<!-- END HEADER ############################################### -->
