        <!-- WORKS SECTION ############################################### -->
<!-- Title /-->

<div class="row">

    <div class="twelve columns">

        <h3>Latest works</h3>

    </div>

</div>

<!-- Grid of Works /-->
<section id="works">

    <!-- ROW -->

    <div id="projects_grid" class="row">

        <!-- DATA FILER -->

        <ul class="filter">
            <li><a class="active" href="#" data-filter="*">All</a></li>
            <li><a href="#" data-filter=".print">Print</a></li>
            <li><a href="#" data-filter=".webdesign">Webdesign</a></li>
            <li><a href="#" data-filter=".video">Video</a></li>
        </ul>

        <ul class="items three_up tiles centered">

            <!-- PHOTO -->


            <li class="item print">
                <a onclick="$('#portfolio1').slideDown(); $('#portfolio2, #portfolio3, #portfolio4, #portfolio5, #portfolio6').slideUp(); $('html, body').animate({scrollTop: $('#portfolio_detail').offset().top }, 800);">
                    <img src="/Content/img/exemple1.jpg" alt="EXEMPLE">
                    <div>
                        <h5>Supview</h5>
                        <span>Exemple of span</span>
                    </div>
                </a>
            </li>

            <!-- PHOTO -->

            <li class="item print">
                <a onclick="$('#portfolio2').slideDown(); $('#portfolio1, #portfolio3, #portfolio4, #portfolio5, #portfolio6').slideUp(); $('html, body').animate({scrollTop: $('#portfolio_detail').offset().top }, 800);">
                    <img src="/Content/img/exemple2.jpg" alt="EXEMPLE">
                    <div>
                        <h5>iMac Mockup</h5>
                        <span>Exemple of span</span>
                    </div>
                </a>
            </li>

            <!-- PHOTO -->

            <li class="item webdesign">
                <a onclick="$('#portfolio3').slideDown(); $('#portfolio1, #portfolio2, #portfolio4, #portfolio5, #portfolio6').slideUp(); $('html, body').animate({scrollTop: $('#portfolio_detail').offset().top }, 800);">
                    <img src="/Content/img/exemple3.jpg" alt="EXEMPLE">
                    <div>
                        <h5>HALFCREATIVE</h5>
                        <span>Template</span>
                    </div>
                </a>
            </li>

            <!-- PHOTO -->

            <li class="item webdesign">
                <a onclick="$('#portfolio4').slideDown(); $('#portfolio1, #portfolio2, #portfolio3, #portfolio5, #portfolio6').slideUp(); $('html, body').animate({scrollTop: $('#portfolio_detail').offset().top }, 800);">
                    <img src="/Content/img/exemple4.jpg" alt="EXEMPLE">
                    <div>
                        <h5>MOUNTAINHEAD</h5>
                        <span>Template</span>
                    </div>
                </a>
            </li>

            <!-- PHOTO -->

            <li class="item webdesign">
                <a onclick="$('#portfolio5').slideDown(); $('#portfolio1, #portfolio2, #portfolio3, #portfolio4, #portfolio6').slideUp(); $('html, body').animate({scrollTop: $('#portfolio_detail').offset().top }, 800);">
                    <img src=img/exemple5.jpg alt="EXEMPLE">
                    <div>
                        <h5>Browser Mockup</h5>
                        <span>Exemple of span</span>
                    </div>
                </a>
            </li>

            <!-- PHOTO -->

            <li class="item video">
                <a onclick="$('#portfolio6').slideDown(); $('#portfolio1, #portfolio2, #portfolio3, #portfolio4, #portfolio5').slideUp(); $('html, body').animate({scrollTop: $('#portfolio_detail').offset().top }, 800);">
                    <img src="/Content/img/exemple6.jpg" alt="EXEMPLE">
                    <div>
                        <h5>Metrize Icon</h5>
                        <span>Exemple of span</span>
                    </div>
                </a>
            </li>

        </ul>

    </div>
    <!-- PORTFOLIO DETAIL CONTAINER -->
    <div id="portfolio_detail">

        <!-- PORTFOLIO DETAIL -->
        <div id="portfolio1" class="row slide_portfolio">

            <div class="seven columns centered">

                <img class="closeit" src="/Content/img/close.png" alt="Close Project" onclick="$('#portfolio1').slideUp(); $('html, body').animate({scrollTop: $('#works').offset().top -70 }, 800);">

                <h3>FLAT STUDIO</h3>

                <p>Bacon ipsum dolor sit amet shank tri-tip pig, short loin pork belly boudin ground round flank sirloin bresaola filet mignon sausage beef ribs kielbasa. flow freely, we've created a studio where we can not only work but also have fun and learn.</p>
                <img src="/Content/img/workexemple1.png" alt="EXEMPLE">

                <img src="/Content/img/workexemple2.png" alt="EXEMPLE">

            </div>

        </div>
        <!-- PORTFOLIO DETAIL -->
        <div id="portfolio2" class="row slide_portfolio">

            <div class="seven columns centered">

                <img class="closeit" src="/Content/img/close.png" alt="Close Project" onclick="$('#portfolio2').slideUp(); $('html, body').animate({scrollTop: $('#works').offset().top -70 }, 800);">

                <h3>FLAT STUDIO</h3>

                <p>Bacon ipsum dolor sit amet shank tri-tip pig, short loin pork belly boudin ground round flank sirloin bresaola filet mignon sausage beef ribs kielbasa. flow freely, we've created a studio where we can not only work but also have fun and learn.</p>
                <img src="/Content/img/workexemple1.png" alt="EXEMPLE">

                <img src="/Content/img/workexemple2.png" alt="EXEMPLE">

            </div>

        </div>
        <!-- PORTFOLIO DETAIL -->
        <div id="portfolio3" class="row slide_portfolio">

            <div class="seven columns centered">

                <img class="closeit" src="/Content/img/close.png" alt="Close Project" onclick="$('#portfolio3').slideUp(); $('html, body').animate({scrollTop: $('#works').offset().top -70 }, 800);">

                <h3>FLAT STUDIO</h3>

                <p>Bacon ipsum dolor sit amet shank tri-tip pig, short loin pork belly boudin ground round flank sirloin bresaola filet mignon sausage beef ribs kielbasa. flow freely, we've created a studio where we can not only work but also have fun and learn.</p>
                <img src="/Content/img/workexemple1.png" alt="EXEMPLE">

                <img src="/Content/img/workexemple2.png" alt="EXEMPLE">

            </div>

        </div>
        <!-- PORTFOLIO DETAIL -->
        <div id="portfolio4" class="row slide_portfolio">

            <div class="seven columns centered">

                <img class="closeit" src="/Content/img/close.png" alt="Close Project" onclick="$('#portfolio4').slideUp(); $('html, body').animate({scrollTop: $('#works').offset().top -70 }, 800);">

                <h3>FLAT STUDIO</h3>

                <p>Bacon ipsum dolor sit amet shank tri-tip pig, short loin pork belly boudin ground round flank sirloin bresaola filet mignon sausage beef ribs kielbasa. flow freely, we've created a studio where we can not only work but also have fun and learn.</p>
                <img src="/Content/img/workexemple1.png" alt="EXEMPLE">

                <img src="/Content/img/workexemple2.png" alt="EXEMPLE">

            </div>

        </div>
        <!-- PORTFOLIO DETAIL -->
        <div id="portfolio5" class="row slide_portfolio">

            <div class="seven columns centered">

                <img class="closeit" src="/Content/img/close.png" alt="Close Project" onclick="$('#portfolio5').slideUp(); $('html, body').animate({scrollTop: $('#works').offset().top -70 }, 800);">

                <h3>FLAT STUDIO</h3>

                <p>Bacon ipsum dolor sit amet shank tri-tip pig, short loin pork belly boudin ground round flank sirloin bresaola filet mignon sausage beef ribs kielbasa. flow freely, we've created a studio where we can not only work but also have fun and learn.</p>
                <img src="/Content/img/workexemple1.png" alt="EXEMPLE">

                <img src="/Content/img/workexemple2.png" alt="EXEMPLE">

            </div>

        </div>
        <!-- PORTFOLIO DETAIL -->
        <div id="portfolio6" class="row slide_portfolio">

            <div class="seven columns centered">

                <img class="closeit" src="/Content/img/close.png" alt="Close Project" onclick="$('#portfolio6').slideUp(); $('html, body').animate({scrollTop: $('#works').offset().top -70 }, 800);">

                <h3>FLAT STUDIO</h3>

                <p>Bacon ipsum dolor sit amet shank tri-tip pig, short loin pork belly boudin ground round flank sirloin bresaola filet mignon sausage beef ribs kielbasa. flow freely, we've created a studio where we can not only work but also have fun and learn.</p>
                <iframe src="http://player.vimeo.com/video/64291127" style="padding-top:40px;" width="100%" height="300px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

            </div>

        </div>

    </div> 	<!-- END PORTFOLIO DETAIL CONTAINER -->

</section>

<!-- END WORKS SECTION ############################################### -->
