<div class="mobile-menu">
    <section id="collapse">
        <div class="row">
            <div class="mobile-menu-inner">
                <ul class="nav-mobile">
                    <li><a class="selected" href="#works">Works</a></li>
                    <li><a href="#whatwedo">Services</a></li>
                    <li><a href="#team">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </section>
    <a href="#" id="collapse-menu"><h3>Menu</h3></a>
</div>

<!-- NAVIGATION ############################################### -->

<div class="cbp-af-header">

    <nav class="row">
        <div id="logo"><a href="#"><img alt="YOURLOGO" src="/Content/img/logo.png"></a></div>

        <ul id="nav">
            <li><a href="#contact">Contact</a></li>
            <li><a href="#team">About</a></li>
            <li><a href="#whatwedo">Services</a></li>
            <li><a class="selected" href="#works">Works</a></li>
        </ul>


    </nav>

</div>

<!-- END NAVIGATION ############################################### -->