<!-- SERVICES SECTION ############################################### -->

<div class="row">

    <div class="twelve columns">

        <h3>What we do</h3>

    </div>

</div>

<section id="whatwedo">

    <div class="row">

        <ul class="one_up tiles">
            <!-- SERVICE !-->

            <li class="service">

                <div class="two columns">

                    <img src="/Content/img/service2.png" alt="EXEMPLE">

                </div>

                <div class="nine columns">

                    <h3>Web Design</h3>

                    <p>Bacon ipsum dolor sit amet shank tri-tip pig, short loin pork belly boudin ground round flank sirloin bresaola filet mignon sausage beef ribs kielbasa. flow freely, we've created a studio where we can not only work but also have fun and learn. </p>

                </div>

            </li>

            <!-- SERVICE !-->

            <li class="service">

                <div class="two columns">

                    <img src="/Content/img/service3.png" alt="EXEMPLE">

                </div>

                <div class="nine columns">

                    <h3>Mobile Apps</h3>

                    <p>Bacon ipsum dolor sit amet shank tri-tip pig, short loin pork belly boudin ground round flank sirloin bresaola filet mignon sausage beef ribs kielbasa. flow freely, we've created a studio where we can not only work but also have fun and learn. </p>

                </div>

            </li>

            <!-- SERVICE !-->

            <li class="service">

                <div class="two columns">

                    <img src="/Content/img/service1.png" alt="EXEMPLE">

                </div>

                <div class="nine columns">

                    <h3>WEB INTEGRATION</h3>

                    <p>Bacon ipsum dolor sit amet shank tri-tip pig, short loin pork belly boudin ground round flank sirloin bresaola filet mignon sausage beef ribs kielbasa. flow freely, we've created a studio where we can not only work but also have fun and learn. </p>

                </div>

            </li>

            <!-- SERVICE !-->

            <li class="service">

                <div class="two columns">

                    <img src="/Content/img/service4.png" alt="EXEMPLE">

                </div>

                <div class="nine columns">

                    <h3>Video</h3>

                    <p>Bacon ipsum dolor sit amet shank tri-tip pig, short loin pork belly boudin ground round flank sirloin bresaola filet mignon sausage beef ribs kielbasa. flow freely, we've created a studio where we can not only work but also have fun and learn. </p>

                </div>

            </li>

        </ul>

    </div>


</section>
<!-- END SERVICES SECTION ############################################### -->
